<div class="card h-100 mt-5">
    <!-- Product image-->
    <img class="card-img-top" src="https://images.pexels.com/photos/1695052/pexels-photo-1695052.jpeg" alt="...">
    <!-- Product details-->
    <div class="card-body p-4">
        <div class="text-center">
            <!-- Product name-->
            <h5 class="fw-bolder">Coffee Product</h5>
            <!-- Product price-->
            $40.00 - $80.00
        </div>
    </div>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to Cart</a></div>
    </div>
</div>
